@media (max-width: 1200px) {
    .benefit {
		&__descr {
            width: 481px;
		}
		&__image {
            width: 370px;  
		}
        &__box {
            justify-content: space-around;
        }
    }

}

@media (max-width: 991px) {
    .benefit {
        min-height: 820px;
        padding: 70px 0;
		&__descr {
            width: 371px; 
		}
        &__image {
            width: 343px;
        }
    }
}


@media (max-width: 768px) {
    .benefit {
        padding: 40px 0;

		&__box {
            flex-wrap: wrap;
            justify-content: center;
		}
		&__text {
            margin-bottom: 32px;
		}
        &__order-two {
            order: 2;
        }
    }
}

@media (max-width: 575px) {
    .benefit {
        padding: 30px 0;

		&__descr {
            width: 290px;
		}
		&__image {
            width: 269px;  
		}
    }

}

